[Unit]
Description=Run MNSCloud WebRTC Edge configuration sync periodically

[Timer]
OnBootSec=45s
OnUnitActiveSec=5min
AccuracySec=30s
Unit=mnscloud-webrtc-sync.service

[Install]
WantedBy=timers.target
